* {

    margin:0;
    padding:0;
    box-sizing:border-box;

}



body {

    background:#0f1117;
    color:#ececec;
    font-family:
        Inter,
        Arial,
        Helvetica,
        sans-serif;

    line-height:1.6;

}



.container {

    max-width:1200px;
    margin:auto;
    padding:0 30px;

}





/* HEADER */


header {

    border-bottom:1px solid #252936;

}


.nav {

    height:70px;

    display:flex;
    align-items:center;
    justify-content:space-between;

}



.logo {

    font-size:22px;
    font-weight:700;

}



nav {

    display:flex;
    gap:30px;

}


nav a {

    text-decoration:none;
    color:#8f96a6;

}



nav a.active {

    color:white;

}






/* HERO */


.hero {

    display:flex;

    align-items:center;
    justify-content:space-between;

    gap:80px;

    padding:90px 0;

}



.hero-text {

    max-width:650px;

}



.hero h1 {

    font-size:56px;

    margin-bottom:25px;

    letter-spacing:-2px;

}



.hero p {

    color:#b6bcc8;

    font-size:18px;

}



.hero img {

    width:300px;

    opacity:.9;

}







/* SECTIONS */


section {

    margin-bottom:90px;

}



h2 {

    font-size:11px;

    text-transform:uppercase;

    letter-spacing:3px;

    color:#8b93a5;

    margin-bottom:30px;

}







/* PIPELINE */


.grid {

    display:grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(300px,1fr)
        );

    gap:22px;

}



.card {

    background:#181b22;

    border:1px solid #292e3a;

    border-radius:12px;

    padding:28px;

}



.card span {

    font-size:10px;

    letter-spacing:3px;

    color:#8991a3;

}



.card h3 {

    margin:12px 0;

    font-size:16px;

}



.card p {

    color:#aeb5c3;

    font-size:14px;

}







/* TECH TAGS */


.tags {

    display:flex;

    flex-wrap:wrap;

    gap:12px;

}



.tags span {

    border:1px solid #303642;

    border-radius:50px;

    padding:8px 16px;

    color:#c4cad6;

    font-size:14px;

}








/* COLLAGE BOX */


.lab-box {


    background:#181b22;

    border:1px solid #292e3a;

    border-radius:12px;

    padding:32px;

    max-width:750px;


}



.lab-box p {

    color:#c6ccd7;

    margin-bottom:15px;

}



.lab-box strong {

    color:white;

}



.lab-box a {

    color:#8fa8ff;

    text-decoration:none;

    font-size:14px;

}



.lab-box a:hover {

    text-decoration:underline;

}







/* FOOTER NOTE */


.footer-note {

    border-top:1px solid #292e3a;

    padding-top:40px;

    max-width:750px;

}



.footer-note p {

    color:#929aaa;

    font-size:13px;

}







/* MOBILE */


@media(max-width:900px){


.hero {

    flex-direction:column;

    text-align:center;

}



.hero h1 {

    font-size:42px;

}



.hero img {

    width:220px;

}


}
